*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('/assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('/assets/fonts/static/Inter-SemiBold.ttf');
}

.logo{
    margin-top: 50px;
}
h1{
  font-family: 'Inter-SemiBold';
  font-size: 4em;
  line-height: 110%;
  color: hsl(215, 31%, 21%);
  margin-top: 70px;
 
}
body p{
    font-family: 'Inter-Regular';
    font-size: 1em;
    line-height: 150%;
    text-align: left;
    color: hsl(215, 17%, 45%);
    margin-top: 40px;
}
.bmi-container{
    width: 978px;
    height: 737px;
    background-image: linear-gradient(to bottom right, white, #e7f5fe, #d7e7fe); 
    margin-left: 10px;
    border-radius: 0 0 35px 35px;
   

}
.summary{
   margin-left: 70px;
}

.detail{
    position: absolute;
    display: grid;
    justify-content: center;
    width: 564px;
    height: 464px;
    background: white;
    border-radius: 16px;
    box-shadow: 10px 10px 25px rgba(143, 174, 207, 0.25) ;
    margin-top: 140px; 
    z-index: 1;
    left: 700px;
    
  
}
.box{
    display: flex;
    flex-direction: row;
    
}
.detail p{
    font-family: 'Inter-SemiBold';
    font-size: 1.5em;
    color: hsl(215, 31%, 21%);
    line-height: 110%;
    margin-top: 20px;
}
.detail label{
    font-family: 'Inter-SemiBold';
    font-size: 1em;
    line-height: 150%;
    color: hsl(215, 31%, 21%);
    
   
}
#metric{
   display: flex;
   
}

#metric label{
   padding-top: 10px;
   padding-left: 10px;
}

.met-detail{
   display: flex;
   flex-direction: row;
   gap: 20px;
   margin-bottom: 20px;
   
}
.met-detail label{
    font-family: 'Inter-Regular';
    font-size: 0.875em;
    line-height: 150%;
    color: hsl(215, 17%, 45%);
   
 
}

input[type=radio] {
    display: inline-block;
    width: 31px;
    height: 31px;
    cursor: pointer;
    position: relative;
    top: 9px;
   
}



input[type=text] {
    width: 238px;
    height: 69px;
    border-radius: 12px;
    border-style: none;
    border: 1px solid hsl(200, 24%, 88%);
    margin-top: 5px;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Inter-SemiBold';
    color: hsl(215, 31%, 21%);
}

.bmi{
    width: 500px;
    height: 166px;
    background: hsl(227, 92%, 58%);
    border-radius: 16px 99px 99px 16px;
    display: flex;
    justify-content: center;
    place-items: center;
   
}

.bmi p{
    font-family: 'Inter-Semibold';
    font-size: 1.5em;
    color: white;
    margin: 30px;
    padding: 0;
   
}
#ent{
    font-size: 0.875em;
    line-height: 150%;
    font-family: 'Inter-Regular';
    color: #ffffff;
}
.right-line{
    position: absolute;
    right: 120px;
    
   
}
.main{
   display: flex;
   flex-direction: row;
   gap: 100px;
   place-items: center;
   margin-top: 50px;
   margin-left: 80px;
}
#par{
    margin-top: 25px;
}
.main-detail{

    margin-top: 150px;

}
.main h2{
    font-family: 'Inter-Semibold';
    font-size: 3em;
    line-height: 110%;
    color: #253347;
   
}
.benefit{
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    margin-top: 120px;
    gap: 70px;
    width: 1340px;
    height: 402px;
    background: linear-gradient(290.1deg,rgba(214,230,254,.25) 0%,rgba(214,252,254,0) 100%);
    border-radius: 35px;
}
.benefit h3{
    font-size: 1.5em;
    font-family: 'Inter-Semibold';
    line-height: 110%;
    margin-top: 30px;
    color: hsl(215, 31%, 21%);
}
.benefit p{
    font-family: 'Inter-Regular';
    font-size: 1em;
    line-height: 150%;
    text-align: left;
    margin-top: 20px;
    
}

.limit h3{
    font-size: 3em;
    font-family: 'Inter-Semibold';
    color: hsl(215, 31%, 21%);
    line-height: 110%;
    
}
.limit{
    margin-top:150px;
    
}
.limit h4{
    font-size: 1.25em;
    font-family: 'Inter-Semibold';
    line-height: 110%;
    color: hsl(215, 31%, 21%);
    padding: 8px;
}
.limit p{
    margin-top: 15px;

}

#post{
    margin-left: 90px;
    margin-bottom: 50px;

}
.left-line{
    margin-left: 250px;
}
#card{
    display: grid;
    place-content: center;
    width: 365px;
    height: 232px;
    box-shadow: 56px 32px 56px 0px  rgba(143, 174, 207,0.25);
    border-radius: 16px;
}
#card-1{
    display: grid;
    place-content: center;
    width: 365px;
    height: 184px;
    box-shadow: 56px 32px 56px 0px  rgba(143, 174, 207,0.25);
    border-radius: 16px;
}
#icon{
    display: inline-flex;
}
.hidden{
    display: none;
}











